# Ignored
#
.DS_Store
Desktop.ini
run_settings

configs.sh

*~
*.bak
*.local
*.orig
*.po~
*.pyc
*.win.sh
*.swp
*.swo
csv-toimport/
deep-odoo-backup/
.idea
.pydevproject
.project
.ropeproject
.tern-port
.vscode
build-elif.sh
copy-deep.sh
get-deep.sh
go.sh
run.sh
update-all.sh
org.eclipse.core.resources.prefs

# Not ignored
#
data/*
example/*
*.csv
project/transformed
project/conf/*.conf
